body{
    display: flex;
    justify-content: center;
}


.calculator-container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 5px;
    border-radius: 10px;
    background-color: grey;
}

.display{
    border: 1px solid black;
    font-size: 50px;
    margin: 10px;
    padding: 0px 20px;
    background-color: darkolivegreen;
    height: 70px;
    width: 200px;
    text-align: end;
    overflow: hidden;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    padding: 5px;
}

.button-row{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

button{
    width: 50px;
    height: 50px;
    font-size: 40px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: darkslategray;
    color: white;
}